// sidebar
$menuText:#270d00;
$menuActiveText: #ff4d00;
$subMenuActiveText:#ff4d00; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #F3F3F5;
$menuHover: #F3F3F5;
$menuTextHover: #FF6A00;

$subMenuBg: #F3F3F5;
$subMenuHover: #F3F3F5;
$subMenuTextHover: #FF6A00;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  menuTextHover: $menuTextHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  subMenuTextHover: $subMenuTextHover;
  sideBarWidth: $sideBarWidth;
}
